*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{ display: flex;
  justify-content:space-between;  
  color:Black;
  padding: 1.5rem 1rem;
}
.myBody
{
    display: flex;
    flex-direction: column;
   align-items: center;
   height:100vh ;
}
h2{
    padding-top: 1rem ;
    padding-bottom: 1rem;

}
.days
{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem;
    font-size: 25px;
    border-top:2px solid whitesmoke;
    width: 60% ;
    justify-content: center;
}
.range
{   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 0.5rem 0.5rem;
}
.tempBody
{display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 0.5rem 0.5rem;
}
#searchValue
{
    border: none;
    width: 100%;
    outline: none;
    
}
.searchBar
{
width: 60%;
display: flex;
justify-content: space-between;
border: 1px solid whitesmoke;
padding: 0.5rem 0.5rem;
}
